{{>head}}
<h1>About</h1>
{{>header}}

<div>
  <h2>Used technologies and services:</h2>
  <ul id="about-list">
    <li>Location service: https://www.mapbox.com/</li>
    <li>Forecast service: https://weatherstack.com/</li>

    <li>NodeJs</li>
    <li>Express</li>
    <li>Handlebars for express (hbs)</li>
    <li>Postman-request</li>
    <li>Fetch</li>
    <li>Heroku</li>
  </ul>
</div>

  <p>(*This app was created as a pet project.)</p>
{{>footer}}
