{{>head}}
<h1>Weather</h1>
{{>header}}
<p>Use this app to check wheather by providing your address</p>
<form>
  <input type="text" name='address' id='search'>
  <button type="submit">Search</button>
</form>
{{>footer}}
