{{>head}}
<h1>Weather Checker</h1>

{{>header}}

<p>Please enter your country/city to check weather in your area</p>
<form id='searchForm'>
  <input type="text" name='address' id='search' placeholder="New York">
  <button type="submit">Search</button>
</form>

<article class="widget">
  <div class="weatherDescription">
    General Information:
    <hr>
    <ul>
      <li id="feelslike">Feels Like - <span>23&deg;</span></li>
      <li id="pressure">Pressure - <span>1234</span></li>
      <li id="humidity">Humidity - <span>25%</span></li>
      <li id="windspeed">Wind Speed - <span>20 m/s</span></li>
      <li id="uvindex">UV Index - <span>5</span></li>
      <li id="cloudcover">Cloudcover - <span>12</span></li>
    </ul>
  </div>
  <div class="weatherInfo">
    <div class="temperature"><span>25&deg;</span></div>
    <div class="description">    
      <div class="weatherCondition">CLOUDY</div>    
      <div class="place">New York, New York</div>
    </div>
  </div>
  <div class="weatherIcon"><img src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"></div>
</article>

<p id="error"></p>
<p id="location"></p>
<script type="text/javascript" src="/js/main.js"></script>
{{>footer}}
