{{>head}}
<h1>Weather Checker</h1>

{{>header}}

<p>Please enter your country/city to check weather in your area</p>
<form id='searchForm'>
  <input type="text" name='address' id='search' placeholder="New York">
  <button type="submit">Search</button>
</form>

<article class="widget">
  <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
  <div class="weatherInfo">
    <div class="temperature"><span>25&deg;</span></div>
    <div class="description">    
      <div class="weatherCondition">CLOUDY</div>    
      <div class="place">New York, New York</div>
    </div>
  </div>
  <div class="date">1st Jan</div>
</article>

<p id="error"></p>
<p id="location"></p>
{{>footer}}
