@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css); */

body {
  color: #888888;
  font-family: Poiret One;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

.hidden {
  display: none!important;
}

hr {
  width: 100%;
  color: #cccccc
}

.selected {
  font-weight: bold;
}

h1 {
  font-size: 44px;
  margin-bottom: 16px;
  color: #888888;
}

header a {
  color: #888888;
  margin-right: 10px;
  text-decoration: none;
}

form input {
  color: #888888;
  border: 1px solid #888888;
  padding: 8px;
}

form button {
  cursor: pointer;
  padding: 8px;
  color: #ffffff;
  border: 1px solid #888888;
  background-color: #888888;
}

/* Widget css**/
body {
  font-family: Poiret One;
}

.widget {
  top: 50%;
  left: 50%;
  display: flex;
  height: 300px;
  margin: 40px auto;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.widget .weatherDescription {
  flex: 1 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FAFAFA;
  font-size: medium;
  font-weight: 600;
  line-height: 22px;
  align-items: center;
  justify-content: space-around;
}

#about-list {
  text-align: left;
}

#about-list li {
  font-size: 20px;
  list-style-type: none;
  font-weight: 600;
}

.widget .weatherDescription ul {
  padding: 0;
}

.widget .weatherDescription ul li {
  list-style-type: none;
}

.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.widget .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 65px;
  display: flex;
  justify-content: space-around;
}
.widget .weatherInfo .description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 100;
}
.widget .weatherInfo .description .place {
  font-size: 15px;
}
.widget .weatherIcon {
  flex: 0 0 30%;
  height: 40%;
  background: #888888;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

p .widget{
  position: fixed;
  bottom: 0%;
  right: 2%;
}
p .widget a {
  text-decoration: none;
  color: #E4D6A7;
  font-size: 10px;
}


/* Loader */
svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  stroke: cyan;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 193.904983521;
  fill: none;
  animation:
    load 4s linear infinite,
    color 3s linear infinite;
}

@keyframes load {
  from { stroke-dashoffset: 775.6199340820312; }
}

@keyframes color {
  33% { stroke: yellow; }
  66% { stroke: magenta; }
}